#blue-row{
	background-color: lightblue;
	width: 100%;
	opacity: .85;
	text-align: center;	
	padding: 0px;
	margin: 0px;
}
#green-row{
	background: limegreen;
	opacity: .85;
	text-align: center;	
	padding: 0px;
	margin: 0px;
}
#purple-row{
	background: purple;
	opacity: .85;
	text-align: center;	
	padding: 0px;
	margin: 0px;
	color: hotpink;
}
.col-md-offset-3{
	background-color: gray;
	height: 100%;
}
#blue-cells{
	border: 1px solid black;
	height: 100%;
}
.purpleRow{
	height: 100%;
}